extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Richard Bruzzese

        p Full Stack JavaScript Developer

        .about-bio

          p Ever since I was young and broke our home computer, I was interested in technology. Learning how to solve problems, understand how all the pieces work together, and how I could use technology to make my life easier, and more fun has been a driving force for me. I am currently a Full Stack JavaScript Tech Degree student with Treehouse and continuing to grow my skills as an Apprentice Software Engineer. This portfolio will showcase some of the work I've been able to accomplish so far.

      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li Sql 
          li BigQuery 
          li Looker

        h6 Contact Info

        ul
          li (404) 435-8584
          li richbruzzese@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/richard-bruzzese-298309138/') LinkedIn
        a.btn-link(href='https://github.com/richbruzzese/') GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back