extends layout

block content
  nav.nav
    a(href='/')
      span &larr;
      |  Back

  h1= `Server Error`
  h2= `Error status code: ${err.status} - Server Error`
  p.error-p= `Here's what went wrong: ${err.message}`

  div.not-found-stack
    hr
    pre #{err.stack}