extends layout.pug

block content

  article.portfolio-intro

    h1 My Projects

    p As I continue to learn this page will continue to be updated with new content. This portfolio is a means to capture the progress I've made in my development journey and show what I'm capabale of. Be sure to check back for more.


  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects
        project.cell
          a(href=`project/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}` height='250px', width='250px', alt='')
            h5= project.project_name

