extends layout

block content
  nav.nav
    a(href='/')
      span &larr;
      |  Back

  div.container
    h1= `404 - Page Not Found`
    p.not-found-p= `Page not found`

    if err

      div.not-found-stack
        hr
        pre #{err.stack}